{% extends 'aurora/elements/layouts/admin.html' %}
{% load static %}
{% block additional_css %}{% endblock %}
{% block content %}
{% load custom_filters %}
  <style>
    .green-border {
      border: 2px solid green;
    }

    .blue-border {
      border: 2px solid blue;
    }

    .word-wrap {
      white-space: normal; /* 텍스트 자동 줄 바꿈 설정 */
    }
  </style>
  <div class="page-titles">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="javascript:void(0)">Operation</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'operation:object-list'%}">사물 관리</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'operation:object-list-dynamic' object_type='scan_id' %}">scan_id 사물 관리</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'operation:object-list-scan-id-detail' scan_id=scan_id %}">scan_id detail</a>
      </li>
    </ol>
  </div>
  <!-- test -->
  <!-- query result data -->
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-xxl-12">
      <div class="card">
        <div class="card-body">
          <div class="row m-b-30">
            <div class="col-md-4 col-xxl-4">
              <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                <div class="new-arrivals-img-contnent">
                  {% if crop_img %}
                    <img class="img-fluid" src="data:image/png;base64,{{ crop_img }}" alt="" style="height: 320px; width: auto;"/>
                  {% else %}
                    <img class="img-fluid" src="{{ scanIdToImgUrlDict|get_value_from_dict:scan_id }}" alt="" style="height: 320px; width: auto;"/>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-8 col-xxl-8">
              <div class="new-arrival-content position-relative">
                <div class="row">
                  <div class="col-6">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex px-0 justify-content-between">
                        <strong>scan_id</strong>
                        <span class="mb-0" style="font-size: 14px">{{ scan_id }}</span>
                      </li>
                      <li class="list-group-item d-flex px-0 justify-content-between">
                        <strong>mgId</strong>
                        <span class="mb-0" style="font-size: 14px">{{ query_result.mgId }}</span>
                      </li>
                      <li class="list-group-item d-flex px-0 justify-content-between">
                        <strong>shire</strong>
                        <span class="mb-0" style="font-size: 14px">{{ query_result.shire }}</span>
                      </li>
                      <li class="list-group-item d-flex px-0 justify-content-between">
                        <strong>simMgIdList</strong>
                        <span class="mb-0" style="font-size: 14px">{{ query_result.simMgIdList }}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <ul class="list-group list-group-flush">
                      <li style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-outline-primary btn-block">
                          <a href="{% url 'operation:new-mg-id-detail' scan_id=scan_id %}">
                            <span class="mb-0">추가검색</span>
                          </a>
                        </button>
                      </li>
                      <li style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#modal-media">Media view</button>
                        <div class="modal fade bd-example-modal-lg" id="modal-media" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title">media (최대 20개)</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal">
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="container">
                                          <div class="row">
                                            {% for i in content_data %}
                                            <div class="col-3">
                                              <div class="card">
                                                <div class="card-body">
                                                  <div class="row m-b-30">
                                                    <div class="col-12">
                                                      <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                                                        <div class="new-arrivals-img-contnent">
                                                          {% if i.type == "IMAGE" %}
                                                            <img src="{{i.resourceUrl}}" alt="Image" width="120" height="auto"/>
                                                          {% elif i.type == "VIDEO"%}
                                                            <video controls width="120" height="auto">
                                                              <source src="{{i.resourceUrl}}" type="video/mp4">
                                                            </video>                                                            
                                                          {% endif %}
                                                        </div>
                                                      </div>               
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          {% endfor %}
                                          </div>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Save changes</button>
                                  </div>
                              </div>
                          </div>
                      </div>                        
                      </li>
                      <li>
                        {% if query_result %}
                          <div class="accordion accordion-primary" id="accordion-one">
                            <div class="accordion-item">
                              <div class="accordion-header rounded-lg collapsed" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne" aria-expanded="false" role="button">
                                <span class="accordion-header-icon"></span>
                                <span class="accordion-header-text">Metadata</span>
                                <span class="accordion-header-indicator"></span>
                              </div>
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion-one" style="">
                                <ul class="list-group list-group-flush">
                                    {% for k, v in query_result.items %}
                                      <li class="list-group-item d-flex px-0 justify-content-between">
                                        <strong>{{k}}</strong>
                                        <span class="mb-0" style="font-size: 14px">{{ v }}</span>
                                      </li>
                                    {% endfor %}
                                </ul>                              
                              </div>
                            </div>
                          </div>
                        {% endif %}                        
                      </li>                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- search result -->
  <div class="row">
    {% for i in search_result %}
      <div class="col-3">
        <div class="card{% if i.source.mgId == query_result.mgId %} green-border {% else %} blue-border {% endif %}">
          <div class="card-body">
            <div class="row m-b-30">
              <div class="col-12">
                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                  <div class="new-arrivals-img-contnent">
                    <a href="{% url 'operation:object-list-scan-id-detail' scan_id=i.scanId %}">
                      {% if scanIdToImgUrlDict|get_value_from_dict:i.scanId %}
                        <img class="img-fluid" src="{{ scanIdToImgUrlDict|get_value_from_dict:i.scanId }}" alt=""/>
                      {% else %}
                        <img src={% static 'aurora/images/logo.png' %} alt="Image" width="120" height="auto"/>
                      {% endif %}
                    </a>
                  </div>
                </div>
                <div class="new-arrival-content position-relative">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                      <strong>scan_id</strong>
                      <a href="{% url 'operation:object-list-scan-id-detail' scan_id=i.scanId %}">
                        <span class="mb-0" style="font-size: 14px;">{{ i.scanId }}</span>
                      </a>
                    </li>
                    <li class="list-group-item px-0">
                      <strong>score</strong>
                      <span class="mb-0" style="font-size: 14px">{{ i.score }}</span>
                    </li>
                    <li class="list-group-item px-0">
                      <strong>mg_id</strong>
                      <a href="{% url 'operation:object-list-mg-id-detail' mg_id=i.source.mgId %}">
                        <span class="mb-0" style="font-size: 14px;">{{ i.source.mgId }}</span>
                      </a>
                    </li>
                  </ul>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
