{% extends 'aurora/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}

        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
            </ol>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Datatable</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display min-w850">
                                <thead>
                                    <tr>
                                        <th>사물이미지</th>
                                        <th>매칭이미지</th>
                                        <th>mg_id</th>
                                        <th>scan_id</th>
                                        <th>위치</th>
                                        <th>좋아요</th>
                                        <th>생성일</th>
                                        <th>생성자</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data %}
                                    <tr>
                                        <td>
                                            <img src="{{ item.img_url }}" alt="Image" width="120"
                                            height="160"></td>
                                        <td><img src="{{ item.first_scan_img_url }}" alt="Image" width="120"
                                            height="160"></td>
                                        <td>{{ item.mg_id }}</td>
                                        <td>{{ item.scan_id }}</td>
                                        <td>{{ item.enc_geo }}</td>
                                        <td>{{ item.like_cnt }}</td>
                                        <td>{{ item.created_at }}</td>
                                        <td>{{ item.user_id }}</td>
                                    </tr>
                                    <!-- 필요한 다른 필드 추가 -->
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>사물이미지</th>
                                        <th>매칭이미지</th>
                                        <th>mg_id</th>
                                        <th>scan_id</th>
                                        <th>위치</th>
                                        <th>좋아요</th>
                                        <th>생성일</th>
                                        <th>생성자</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block additional_js %}

{% endblock %}
