<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% load static widget_tweaks %}
    <meta charset="utf-8">
    <meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="{{ dz_array.public.title }}" />
	<meta property="og:title" content="{{ dz_array.public.title }}" />
	<meta property="og:description" content="{{ dz_array.public.title }}" />
	<meta property="og:image" content="https://zenix.dexignzone.com/django/social-image.png" />
	<meta name="format-detection" content="telephone=no">
    <title>{{ dz_array.public.title }}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static dz_array.public.favicon %}">
    
    {% load custom_tags %}

    {% for cssurl in dz_array.pagelevel.aurora.aurora_views.css|getdata:request.path %}
    <link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}
  

    {% for cssurl in dz_array.global.css %}
    <link rel="stylesheet" href="{% static cssurl %}" >
    {% endfor %}

</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<img src="{% static 'aurora/images/logo-full.png' %}" alt="">
									</div>
                                    <h3 class="text-center mb-4 mt-1 text-white">Forgot Password</h3>
                                    <form method="post">{% csrf_token %}


                                        {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %} 
                                               <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                               </div>
                                            {% endfor %}
                                        {% endfor %}
                                     {% endif %} 



                                        <div class="form-group">
                                            <label class="text-white"><strong>Email</strong></label>

                                            {{ form.email|attr:"type:email"|attr:"class:form-control"|attr:"placeholder:Email" }}

                                        </div>
                                        <div class="text-center">
                                            
                                            <button type="submit" class="btn bg-white text-primary btn-block">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    {% for jsurl in dz_array.global.js.top %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    
    {% for jsurl in dz_array.pagelevel.aurora.aurora_views.js|getdata:request.path %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}

    
    {% for jsurl in dz_array.global.js.bottom %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}

    {% block additional_js %}
    {% endblock %}
</body>
</html>