{% extends 'aurora/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

{% endblock %}



{% block message %}
{% include 'aurora/elements/alert.html' %}
{% endblock %}


{% block content %}

    <div class="col-lg-12">
      <div class="card">
         <div class="card-header">
            <h4 class="card-title">Add New Role</h4>
         </div>
         <div class="card-body">
            <div id="message"></div>
            <form id="user_perm"  method="post">
               {% csrf_token %}
               <div class="row">
                  <div class="mb-3 col-md-12">
                     <label class="form-label">롤 이름</label>
                     {{ form.name|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Name" }}
                  </div>
                  <div class="mb-3 col-md-12">
                     <label class="form-label">롤 기본 내용</label>
                     {{ form.description|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:description" }}
                  </div>
                  <div class="mb-3 col-md-12">
                    {# {{ form.permissions|attr:"style:height:300px" }}#}
                  </div>
               </div>
               <button type="submit" class="btn btn-primary mt-5">Save</button>
               <a href="{% url 'users:roles' %}" class="btn btn-primary mt-5"> Back</a>
            </form>
         </div>
      </div>
    </div>


{% endblock %}


{% block additional_js %}
<script type="text/javascript">
    var demo1 = $('select[name=permissions]').bootstrapDualListbox(

        {
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            moveAllLabel: 'Move all',
            moveSelectedLabel: 'Move selected'
        }
    );
    
   
</script>
{% endblock %}


