{% extends 'aurora/elements/layouts/admin.html' %}
{% load static %}
{% block additional_css %}{% endblock %}
{% block message %}
  {% include 'aurora/elements/alert.html' %}
{% endblock %}
{% block content %}

  <div class="card">
    <div class="card-header d-sm-flex d-block">
      <div class="me-auto mb-sm-0 mb-3">
        <h4 class="card-title mb-2">User Listing</h4>
        <p class="mb-2">Total user :
          {{ total_user_count }}</p>
        <span></span>
      </div>
      {% if perms.users.add_newuser %}
        <a href="{% url 'aurora:add-user' %}" class="btn btn-primary">+ Add User</a>
      {% endif %}
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="example" class="display min-w850">
          <thead>
            <tr>
              <th>#</th>
              <th>User</th>
              <th>생성일</th>
              <th>마지막접속일</th>
              <th>조직</th>
              <th>Groups</th>
              <th>Status</th>
              {% if perms.users.delete_newuser or perms.users.change_newuser or perms.auth.change_permission %}
                <th>Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for user in user_list %}
              <tr>
                <td>
                  <h6>{{ forloop.counter }}</h6>
                </td>
                <td>
                  <div class="media style-1">
                    <div class="media-body">
                      <a href="{% url 'aurora:user-details' id=user.id %}">
                        <h6>{{ user.first_name }}
                          {{ user.last_name }}</h6>
                        <span>{{ user.email }}</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td class="time_seoul">{{ user.created_at | date:"y-m-d H:m:s" }}</td>
                <td class="time_seoul">{{ user.last_login}}</td>
                <td>{{ user.division }}</td>
                <td>
                  <div>
                    {% for g in user.groups.all %}
                      <span class="badge badge-xs badge-primary">{{ g.name }}</span>
                    {% endfor %}
                  </div>
                </td>
                <td>
                  {% if user.is_active %}
                    <i class="fa fa-user text-success" aria-hidden="true"></i>
                  {% else %}
                    <i class="fa fa-user text-dark" aria-hidden="true"></i>
                  {% endif %}

                  {% if user.is_superuser %}
                    <i class="fa fa-user-secret text-success" aria-hidden="true"></i>
                  {% else %}
                    <i class="fa fa-user-secret text-dark" aria-hidden="true"></i>
                  {% endif %}
                </td>
                <td>
                  <div class="d-flex action-button">
                    {% if perms.auth.change_permission %}
                      <a href="{% url 'aurora:assign-permissions-to-user' id=user.id %}" class="btn btn-info btn-xs px-2">
                        <svg id="Capa_1" enable-background="new 0 0 512 512" height="20" viewbox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path d="m459.669 82.906-196-81.377c-4.91-2.038-10.429-2.039-15.338 0l-196 81.377c-7.465 3.1-12.331 10.388-12.331 18.471v98.925c0 136.213 82.329 258.74 208.442 310.215 4.844 1.977 10.271 1.977 15.116 0 126.111-51.474 208.442-174.001 208.442-310.215v-98.925c0-8.083-4.865-15.371-12.331-18.471zm-27.669 117.396c0 115.795-68 222.392-176 269.974-105.114-46.311-176-151.041-176-269.974v-85.573l176-73.074 176 73.074zm-198.106 67.414 85.964-85.963c7.81-7.81 20.473-7.811 28.284 0s7.81 20.474-.001 28.284l-100.105 100.105c-7.812 7.812-20.475 7.809-28.284 0l-55.894-55.894c-7.811-7.811-7.811-20.474 0-28.284s20.474-7.811 28.284 0z"/>
                          </g>
                        </svg>
                      </a>
                    {% endif %}
                    {% if perms.users.change_newuser %}
                      <a href="{% url 'aurora:edit-user' id=user.id %}" class="btn btn-info btn-xs px-2 mx-2">
                        <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M17 3C17.2626 2.73735 17.5744 2.52901 17.9176 2.38687C18.2608 2.24473 18.6286 2.17157 19 2.17157C19.3714 2.17157 19.7392 2.24473 20.0824 2.38687C20.4256 2.52901 20.7374 2.73735 21 3C21.2626 3.26264 21.471 3.57444 21.6131 3.9176C21.7553 4.26077 21.8284 4.62856 21.8284 5C21.8284 5.37143 21.7553 5.73923 21.6131 6.08239C21.471 6.42555 21.2626 6.73735 21 7L7.5 20.5L2 22L3.5 16.5L17 3Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </a>
                    {% endif %}
                    {% if perms.users.delete_newuser %}
                      <div class="sweetalert">
                        <a href="{% url 'aurora:delete-user' id=user.id %}" class="btn btn-xs px-2 btn-danger sweet-success-cancel">
                          <svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 6H5H21" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
{% block additional_js %}

  <script>
    $(".sweet-success-cancel").on("click", function (event) {
      event.preventDefault();
      const url = $(this).attr("href");

      Swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it !!",
          confirmButtonText: "Delete",
          confirmButtonColor: "#DD6B55"
        })
        .then((result) => {
          if (result.value) {
            window.location.href = url;
          } else if (result.dismiss === Swal.DismissReason.cancel) {
            event.preventDefault();
          }
        });
    });

    // 서울 시간으로 변환하는 함수
    function convertToSeoulTime(utcTime) {
      return new Date(utcTime.getTime() + (9 * 60 * 60 * 1000)); // 9 hours ahead of UTC
    }

    // 모든 요소에 대한 처리
    var elements = document.getElementsByClassName("time_seoul");
    console.log(elements)
    for (var i = 0; i < elements.length; i++) {
      var utcTimeString = elements[i].textContent;
      console.log(utcTimeString)
      var utcTime = new Date(utcTimeString);
      console.log(utcTime)
      var seoulTime = convertToSeoulTime(utcTime);
      console.log(seoulTime)
      elements[i].textContent = seoulTime;
    }
  </script>

{% endblock %}
