{% extends 'aurora/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}{% endblock %}

{% block content %}
  <div class="form-head mb-4">
    <h2 class="text-black font-w600 mb-0">Dashboard</h2>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header d-block d-sm-flex border-0">
          <div class="me-3">
            <h4 class="fs-20 text-black">Total Report</h4>
          </div>
          <div class="d-flex">
            <div class="form-check me-3">
              <input type="checkbox" class="form-check-input" id="totalUserCheckbox" checked="checked">
              <label class="form-check-label" for="totalUserCheckbox">Total User</label>
            </div>
            <div class="form-check me-3">
              <input type="checkbox" class="form-check-input" id="dauCheckbox" checked="checked">
              <label class="form-check-label" for="dauCheckbox">DAU</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="newDauCheckbox" checked="checked">
              <label class="form-check-label" for="newDauCheckbox">New DAU</label>
            </div>
          </div>
        </div>
        <div class="card-body">
          <canvas id="areaChart_3" style="width: 100%; height: auto;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header d-block d-sm-flex border-0">
              <div class="me-3">
                <h4 class="fs-20 text-black">이용자 현황</h4>
              </div>
            </div>
            <div class="card-body">
              <canvas id="doughnutChart" style="width: 100%; height: auto;"></canvas>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header d-block d-sm-flex border-0">
              <div class="me-3">
                <h4 class="fs-20 text-black">이용자 현황</h4>
              </div>
            </div>
            <div class="card-body">
              <canvas id="userStatusChart" style="width: 100%; height: auto;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header d-block d-sm-flex border-0">
          <div class="me-3">
            <h4 class="fs-20 text-black">콘텐츠 현황</h4>
          </div>
          <div class="card-action card-tabs mt-3 mt-sm-0">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#post" role="tab">포스트</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#card" role="tab">카드</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#con" role="tab">알비콘</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#cut" role="tab">Cut(드로잉)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#scan" role="tab">스캔</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body tab-content p-0">
          <div class="tab-pane active show fade" id="post" role="tabpanel">
            <div class="card-body">
              <canvas id="barChart_1" style="width: 100%; height: auto;"></canvas>
            </div>
          </div>
          <div class="tab-pane" id="card" role="tabpanel">
            <div class="card-body">
              <canvas id="barChart_2" style="width: 100%; height: auto;"></canvas>
            </div>
          </div>
          <div class="tab-pane" id="arbecon" role="tabpanel">
            <div class="card-body">
              <canvas id="barChart_3" style="width: 100%; height: auto;"></canvas>
            </div>
          </div>
          <div class="tab-pane" id="drawing" role="tabpanel">
            <div class="card-body">
              <canvas id="barChart_4" style="width: 100%; height: auto;"></canvas>
            </div>
          </div>
          <div class="tab-pane" id="scan" role="tabpanel">
            <div class="card-body">
              <canvas id="barChart_5" style="width: 100%; height: auto;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block additional_js %}
<link rel="stylesheet" href="{% static "drf_api_logger/css/Chart.min.css" %}"/>
<script src="{% static "drf_api_logger/js/Chart.bundle.min.js" %}"></script>
<script>
  (function ($) {
    
    // 오늘 날짜 계산
    var today = new Date();
    today.setDate(today.getDate() - 30); // 30일 전부터 시작
    //Total Report -
    var total_data = [
      {% for data in all_data %} {
        date: "{{ data.summary_dt }}",
        total_user: {{data.total_user}},
        new_dau: {{data.new_dau}},
        dau: {{data.dau}}
      }, {% endfor %}
    ];
    // 데이터 필터링
    total_data = total_data.filter(function (item) {
      var itemDate = new Date(item.date);
      return itemDate >= today;
    });
    // 데이터 배열 역순 정렬
    total_data.reverse();
    var totalChartCtx = document
      .getElementById('areaChart_3')
      .getContext('2d');
      
    var totalChart = new Chart(totalChartCtx, {
      type: 'line',
      data: {
        labels: total_data.map(item => item.date),
        datasets: [
          {
            label: 'Total_User',
            data: total_data.map(item => item.total_user),
            borderColor: 'rgb(102, 204, 102)',
            borderWidth: 1,
            backgroundColor: 'rgba(204, 255, 204, 0.5)'
          }, {
            label: 'DAU',
            data: total_data.map(item => item.dau),
            borderColor: 'rgb(30, 170, 231)',
            borderWidth: 1,
            backgroundColor: 'rgba(30, 170, 231, 0.5)'
          }, {
            label: 'New_DAU',
            data: total_data.map(item => item.new_dau),
            borderColor: 'rgb(255, 149, 72)',
            borderWidth: 1,
            backgroundColor: 'rgba(255, 149, 72, 0.5)'
          }
        ]
      },
      options: {
        legend: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                max: 200,
                min: 0,
                stepSize: 20,
                padding: 10
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                padding: 5
              }
            }
          ]
        }
      }
    });
    // Total Report Chart 이벤트 리스너
    document
      .getElementById('totalUserCheckbox')
      .addEventListener('change', function () {
        totalChart
          .data
          .datasets[0]
          .hidden = !this.checked;
        totalChart.update();
      });
    document
      .getElementById('dauCheckbox')
      .addEventListener('change', function () {
        totalChart
          .data
          .datasets[1]
          .hidden = !this.checked;
        totalChart.update();
      });
    document
      .getElementById('newDauCheckbox')
      .addEventListener('change', function () {
        totalChart
          .data
          .datasets[2]
          .hidden = !this.checked;
        totalChart.update();
      });
    // 이용자 현황 - doughnutChart
    var userStatusData_1 = [
      {% for data in all_data %} {
        date: "{{ data.summary_dt }}"
      }, {% endfor %}
    ];
    var totalUserCount = {{total_user_cnt}};
    var ctx = document
      .getElementById('doughnutChart')
      .getContext('2d');
    var chart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        weight: 5,
        defaultFontFamily: 'Poppins',
        labels: [
          '일반 회원', '신규 회원'
        ],
        datasets: [
          {
            data: [
              {{normal_user_cnt}}, {{new_user_cnt}}
            ],
            borderWidth: 3,
            borderColor: "rgba(255,255,255,1)",
            backgroundColor: [
              "rgba(30, 170, 231, 1)", "rgba(43, 193, 85, 1)", "rgba(139, 199, 64, 1)"
            ],
            hoverBackgroundColor: ["rgba(30, 170, 231, 0.9)", "rgba(43, 193, 85, .9)", "rgba(139, 199, 64, .9)"]
          }
        ]
      },
      options: {
        weight: 1,
        cutoutPercentage: 70,
        responsive: false,
        maintainAspectRatio: false
      }
    });
    //이용자현황 - userStatusChart
    
    var userStatusData_2 = [
      {% for data in all_data %} {
        date: "{{ data.summary_dt }}",
        total_user: {{data.total_user}},
        new_user: {{data.new_user}}
      }, {% endfor %}
    ];
    // 데이터 필터링
    userStatusData_2 = userStatusData_2.filter(function (item) {
      var itemDate = new Date(item.date);
      return itemDate >= today;
    });
    // 데이터 배열 역순 정렬
    userStatusData_2.reverse();
    var userStatusCtx = document
      .getElementById('userStatusChart')
      .getContext('2d');
      
    var userStatusChart = new Chart(userStatusCtx, {
      type: 'line',
      data: {
        labels: userStatusData_2.map(item => item.date),
        datasets: [
          {
            label: 'Total_User',
            data: userStatusData_2.map(item => item.total_user),
            borderColor: 'rgba(75, 192, 192, 1)',
            fill: false
          }, {
            label: 'New_User',
            data: userStatusData_2.map(item => item.new_user),
            borderColor: 'rgba(255, 99, 132, 1)',
            fill: false
          }
        ]
      },
      options: {
        legend: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                min: 0,
                stepSize: 20,
                padding: 10
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                padding: 5
              }
            }
          ]
        }
      }
    });
    //콘텐츠 현황 - barChart_1
    var barChart1Data = [
      {% for data in all_content_data %} {
        date: "{{ data.summary_dt }}",
        post_cnt: {{data.post_cnt}},
        post_user_cnt: {{data.post_user_cnt}}
      }, {% endfor %}
    ];
    // 데이터 필터링
    barChart1Data = barChart1Data.filter(function (item) {
      var itemDate = new Date(item.date);
      return itemDate >= today;
    });
    // 데이터 배열 역순 정렬
    barChart1Data.reverse();
    const barChart1Ctx = document
      .getElementById("barChart_1")
      .getContext('2d');
    new Chart(barChart1Ctx, {
      type: 'bar',
      data: {
        defaultFontFamily: 'Poppins',
        labels: barChart1Data.map(item => item.date),
        datasets: [
          {
            label: "등록 건수",
            data: barChart1Data.map(item => item.post_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }, {
            label: "등록 이용자 수",
            data: barChart1Data.map(item => item.post_user_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }
        ]
      },
      options: {
        legend: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                min: 0,
                stepSize: 20
              }
            }
          ],
          xAxes: [
            {
              barPercentage: 0.5
            }
          ]
        }
      }
    });
    //콘텐츠 현황 - barChart_2
    var barChart2Data = [
      {% for data in all_content_data %} {
        date: "{{ data.summary_dt }}",
        media_cnt: {{data.media_cnt}},
        media_user_cnt: {{data.media_user_cnt}}
      }, {% endfor %}
    ];
    // 데이터 필터링
    barChart2Data = barChart2Data.filter(function (item) {
      var itemDate = new Date(item.date);
      return itemDate >= today;
    });
    // 데이터 배열 역순 정렬
    barChart2Data.reverse();
    const barChart2Ctx = document
      .getElementById("barChart_2")
      .getContext('2d');
    new Chart(barChart2Ctx, {
      type: 'bar',
      data: {
        defaultFontFamily: 'Poppins',
        labels: barChart2Data.map(item => item.date),
        datasets: [
          {
            label: "등록 건수",
            data: barChart2Data.map(item => item.media_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }, {
            label: "등록 이용자 수",
            data: barChart2Data.map(item => item.media_user_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }
        ]
      },
      options: {
        legend: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                min: 0,
                stepSize: 20
              }
            }
          ],
          xAxes: [
            {
              barPercentage: 0.5
            }
          ]
        }
      }
    });

    //콘텐츠 현황 - barChart_3
    var barChart3Data = [
      {% for data in all_content_data %} {
        date: "{{ data.summary_dt }}",
        arbecon_cnt: {{data.arbecon_cnt}},
        arbecon_user_cnt: {{data.arbecon_user_cnt}}
      }, {% endfor %}
    ];
    // 데이터 필터링
    barChart3Data = barChart3Data.filter(function (item) {
      var itemDate = new Date(item.date);
      return itemDate >= today;
    });
    // 데이터 배열 역순 정렬
    barChart3Data.reverse();
    const barChart3Ctx = document
      .getElementById("barChart_3")
      .getContext('2d');
    new Chart(barChart3Ctx, {
      type: 'bar',
      data: {
        defaultFontFamily: 'Poppins',
        labels: barChart3Data.map(item => item.date),
        datasets: [
          {
            label: "등록 건수",
            data: barChart3Data.map(item => item.arbecon_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }, {
            label: "등록 이용자 수",
            data: barChart3Data.map(item => item.arbecon_user_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }
        ]
      },
      options: {
        legend: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                min: 0,
                stepSize: 20
              }
            }
          ],
          xAxes: [
            {
              barPercentage: 0.5
            }
          ]
        }
      }
    });

    //콘텐츠 현황 - barChart_4
    var barChart4Data = [
      {% for data in all_content_data %} {
        date: "{{ data.summary_dt }}",
        drawing_cnt: {{data.drawing_cnt}},
        drawing_user_cnt: {{data.drawing_user_cnt}}
      }, {% endfor %}
    ];
    // 데이터 필터링
    barChart4Data = barChart4Data.filter(function (item) {
      var itemDate = new Date(item.date);
      return itemDate >= today;
    });
    // 데이터 배열 역순 정렬
    barChart4Data.reverse();
    const barChart4Ctx = document
      .getElementById("barChart_4")
      .getContext('2d');

    new Chart(barChart4Ctx, {
      type: 'bar',
      data: {
        defaultFontFamily: 'Poppins',
        labels: barChart4Data.map(item => item.date),
        datasets: [
          {
            label: "등록 건수",
            data: barChart4Data.map(item => item.drawing_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }, {
            label: "등록 이용자 수",
            data: barChart4Data.map(item => item.drawing_user_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }
        ]
      },
      options: {
        legend: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                min: 0,
                stepSize: 20
              }
            }
          ],
          xAxes: [
            {
              barPercentage: 0.5
            }
          ]
        }
      }
    });

    //콘텐츠 현황 - barChart_5
    var barChart5Data = [
      {% for data in all_scan_data %} {
        date: "{{ data.summary_dt }}",
        scan_cnt: ({{data.scan_success}}+{{data.scan_fail}}),
        scan_user_cnt: {{data.total_scan_user}}
      }, {% endfor %}
    ];
    // 데이터 필터링
    barChart5Data = barChart5Data.filter(function (item) {
      var itemDate = new Date(item.date);
      return itemDate >= today;
    });
    // 데이터 배열 역순 정렬
    barChart5Data.reverse();
    const barChart5Ctx = document
      .getElementById("barChart_5")
      .getContext('2d');

    new Chart(barChart5Ctx, {
      type: 'bar',
      data: {
        defaultFontFamily: 'Poppins',
        labels: barChart5Data.map(item => item.date),
        datasets: [
          {
            label: "스캔 건수",
            data: barChart5Data.map(item => item.scan_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }, {
            label: "스캔 이용자 수",
            data: barChart5Data.map(item => item.scan_user_cnt),
            borderColor: 'rgba(30, 170, 231, 1)',
            borderWidth: "0",
            backgroundColor: 'rgba(30, 170, 231, 1)'
          }
        ]
      },
      options: {
        legend: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                min: 0,
                stepSize: 20
              }
            }
          ],
          xAxes: [
            {
              barPercentage: 0.5
            }
          ]
        }
      }
    });
  })(jQuery);
</script>
{% endblock %}

