{% extends 'aurora/elements/layouts/admin.html' %}

{% load static %}
{% load mathfilters %}
{% block additional_css %}
{% endblock %}

{% block content %}

{% include "aurora/pages/data/scan-status-tab.html" %}

<div class="col-xl-12">
    <div class="d-sm-flex  d-block align-items-center mb-4">
        <div class="me-auto">
            <h4 class="fs-20 text-black" style="margin-top: 10px;">스캔 현황(월별)</h4>
             <span class="fs-12">Arbeon 월별 스캔 현황</span>
        </div>
        <div class="dropdown custom-dropdown mb-0 mt-3 mt-sm-0">
            <div class="btn btn-light btn-rounded" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="las la-calendar-alt scale5 me-3"></i>
                Filter Date
                <i class="fa fa-caret-down text-primary ms-3" aria-hidden="true"></i>
            </div>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="javascript:void(0);">Details</a>
                <a class="dropdown-item text-danger" href="javascript:void(0);">Cancel</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive table-hover fs-14">
            <table class="table display mb-4 dataTablesCard " id="example5">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2">스캔</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2">스캔비율</th>
                        <th colspan="2">평균 스캔 회원 수</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <th>성공</th>
                        <th>실패</th>
                        <th>합계</th>
                        <th>스캔 참여 회원</th>
                        <th>인당 스캔 수</th>
                        <th>성공</th>
                        <th>실패</th>
                        <th>성공</th>
                        <th>실패</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in all_data %}
                    <tr>
                        <td><span class="text-black font-w500">{{ data.summary_dt }}</span></td>
                        <td><span class="text-black font-w500">{{ data.scan_success }}</span></td>
                        <td><span class="text-black font-w500">{{ data.scan_fail }}</span></td>
                        <td><span class="text-black font-w500">{{ data.scan_success|add:data.scan_fail }}</span></td>
                        <td><span class="text-black font-w500">{{ data.total_scan_user }}</span></td>
                        <td>
                            {% if data.total_scan_user > 0 %}
                                <span class="text-black font-w500">
                                    {{ data.scan_success|add:data.scan_fail|div:data.total_scan_user|floatformat:"2" }}
                                </span>
                            {% else %}
                                <span class="text-black font-w500">N/A</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if data.total_scan_user > 0 %}
                                <span class="text-black font-w500">
                                    {{ data.scan_success|add:data.scan_fail|div:data.scan_success|add:data.scan_fail|mul:100|floatformat:"2" }}%

                                </span>
                            {% else %}
                                <span class="text-black font-w500">N/A</span>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block additional_js %}
<script>
    (function ($) {
        var table = $('#example5').DataTable({
            searching: false,
            paging: true,
            select: false,
            //info: false,         
            lengthChange: false

        });
        $('#example tbody').on('click', 'tr', function () {
            var data = table.row(this).data();

        });
    })(jQuery);
</script>
{% endblock %}