{% extends 'aurora/elements/layouts/admin.html' %}

{% load static %}
{% load mathfilters %}

{% block additional_css %}
{% endblock %}

{% block content %}

{% include "aurora/pages/data/scan-status-tab.html" %}

<div class="col-xl-12">
    <div class="d-sm-flex  d-block align-items-center mb-4">
        <div class="me-auto">
            <h4 class="fs-20 text-black" style="margin-top: 10px;">스캔 현황(일별)</h4>
            <span class="fs-12">Arbeon 일별 스캔 현황</span>
        </div>
        
        <a href="/data/download-summary-as-csv-scan-daily" class="btn btn-primary">일별 스캔 현황 다운로드</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive table-hover fs-14">
            <table class="table display mb-4 dataTablesCard " id="example5">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2">스캔</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2">스캔비율</th>
                        <th colspan="2">평균 스캔 회원 수</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <th>성공</th>
                        <th>실패</th>
                        <th>합계</th>
                        <th>스캔 참여 회원</th>
                        <th>인당 스캔 수</th>
                        <th>성공</th>
                        <th>실패</th>
                        <th>성공</th>
                        <th>실패</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in all_data %}
                    <tr>
                        <td><span class="text-black font-w500">{{ data.summary_dt }}</span></td>
                        <td><span class="text-black font-w500">{{ data.scan_success }}</span></td>
                        <td><span class="text-black font-w500">{{ data.scan_fail }}</span></td>
                        <td><span class="text-black font-w500">{{ data.scan_success|add:data.scan_fail }}</span></td>

                        <td><span class="text-black font-w500">{{ data.total_scan_user }}</span></td>
                        <!--신규회원 기준 dau 산정 필요-->
                        <td>
                            {% if data.total_scan_user > 0 %}
                            <span class="text-black font-w500">
                                {{ data.scan_success|add:data.scan_fail|div:data.total_scan_user|floatformat:"2" }}
                            </span>
                            {% else %}
                            <span class="text-black font-w500">0</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if data.scan_success|add:data.scan_fail > 0 %}
                            {% with numerator=data.scan_success|add:data.scan_fail%}
                            <span class="text-black font-w500">
                                {{ data.scan_success|div:numerator|mul:100|floatformat:"2" }}%
                            </span>
                            {% endwith %}
                            {% else %}
                            <span class="text-black font-w500">0%</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if data.scan_success|add:data.scan_fail > 0 %}
                            {% with numerator=data.scan_success|add:data.scan_fail%}
                            <span class="text-black font-w500">
                                {{ data.scan_fail|div:numerator|mul:100|floatformat:"2" }}%
                            </span>
                            {% endwith %}
                            {% else %}
                            <span class="text-black font-w500">0%</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if data.total_scan_user > 0 %}
                            <span class="text-black font-w500">
                                {{ data.scan_success|div:data.total_scan_user|floatformat:"2" }}
                            </span>
                            {% else %}
                            <span class="text-black font-w500">0</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if data.total_scan_user > 0 %}
                            <span class="text-black font-w500">
                                {{ data.scan_fail|div:data.total_scan_user|floatformat:"2"}}
                            </span>
                            {% else %}
                            <span class="text-black font-w500">0</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {% if all_data.has_previous %}
            <li class="page-item page-indicator">
              <a class="page-link" href="?page={{ all_data.previous_page_number }}">
                <i class="la la-angle-left"></i>
              </a>
            </li>
            {% endif %} {% for page_num in all_data.paginator.page_range %}
            <li class="page-item{% if page_num == all_data.number %} active{% endif %}">
              <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endfor %} {% if all_data.has_next %}
            <li class="page-item page-indicator">
              <a class="page-link" href="?page={{ all_data.paginator.num_pages }}">
                <i class="la la-angle-right"></i>
              </a>
            </li>
            {% endif %}
          </ul>
    </div>
</div>

{% endblock %}

{% block additional_js %}
<script>
    (function ($) {
        var table = $('#example5').DataTable({
            searching: false,
            paging: true,
            select: false,
            //info: false,         
            lengthChange: false

        });
        $('#example tbody').on('click', 'tr', function () {
            var data = table.row(this).data();

        });
    })(jQuery);
</script>
{% endblock %}