{% extends 'aurora/elements/layouts/admin.html' %}
{% block content %}
{% include "aurora/pages/data/status-tab.html" %}

<div class="tab-content">
    <div class="tab-pane fade show active" id="qwe">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id ornare libero. Vivamus iaculis, justo vel mattis pharetra, nisi ligula varius nisl, sit amet mollis tortor ligula vitae nisi.</p>
    </div>
    <div class="tab-pane fade" id="asd">
      <p>Nunc vitae turpis id nibh sodales commodo et non augue. Proin fringilla ex nunc. Integer tincidunt risus ut facilisis tristique.</p>
    </div>
    <div class="tab-pane fade" id="zxc">
      <p>Curabitur dignissim quis nunc vitae laoreet. Etiam ut mattis leo, vel fermentum tellus. Sed sagittis rhoncus venenatis. Quisque commodo consectetur faucibus. Aenean eget ultricies justo.</p>
    </div>

{% endblock %}