<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Data(지표)</a></li>
        <li class="breadcrumb-item">
            <a href="/data/svc-user-status-daily">이용자 현황</a>
        </li>
        {% if page_title == "이용자 현황(일별)" %}
        <li class="breadcrumb-item active">
            <a href="/data/svc-user-status-daily">이용자 현황(일별)</a>
        </li>
        {% elif page_title == "이용자 현황(월별)" %}
        <li class="breadcrumb-item active">
            <a href="/data/svc-user-status-month">이용자 현황(월별)</a>
        </li>
        {% elif page_title == "기간별 이용자" %}
        <li class="breadcrumb-item active">
            <a href="/data/svc-activity-user">기간별 이용자</a>
        </li>
        <!--else 예외처리 필요-->
        {% endif %}
    </ol>
</div>
<ul class="nav nav-tabs" aria-expanded="false">
    <li class="nav-item">
        <a class="nav-link {% if page_title == '이용자 현황(일별)' %}active{% endif %}"
            href="{% url 'data:svc-user-status-daily'%}">이용자 현황(일별)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page_title == '이용자 현황(월별)' %}active{% endif %}"
            href="{% url 'data:svc-user-status-month'%}">이용자 현황(월별)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page_title == '기간별 이용자' %}active{% endif %}"
            href="{% url 'data:svc-activity-user'%}">기간별 이용자</a>
    </li>
</ul>