{% extends 'aurora/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}

{% include "aurora/pages/data/svc-user-status-tab.html" %}


<div class="col-xl-12">
    <div class="d-sm-flex  d-block align-items-center mb-4">
        <div class="me-auto">
            <h4 class="fs-20 text-black" style="margin-top: 10px;">기간별 이용자</h4>
            <span class="fs-12">Arbeon 기간별 이용자의 현황</span>
        </div>
        
          <a href="/data/download-summary-as-csv-active-user" class="btn btn-primary">기간별 이용자 현황 다운로드</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive table-hover fs-14">
            <table class="table display mb-4 dataTablesCard " id="example5">
                <thead>
                    <tr>
                        <th>날짜</th>
                        <th>07일 이용자</th>
                        <th>30일 이용자</th>
                        <th>60일 이용자</th>
                        <th>90일 이용자</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in all_data %}
                    <tr>
                        <td><span class="text-black font-w500">{{ data.summary_dt }}</span></td>
                        <td><span class="text-black font-w500">{{ data.use_day_7 }}</span></td>
                        <td><span class="text-black font-w500">{{ data.use_day_30 }}</span></td>
                        <td><span class="text-black font-w500">{{ data.use_day_60 }}</span></td>
                        <td><span class="text-black font-w500">{{ data.use_day_90 }}</span></td><!--신규회원 기준 dau 산정 필요-->
                    
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {% if all_data.has_previous %}
            <li class="page-item page-indicator">
              <a class="page-link" href="?page={{ all_data.previous_page_number }}">
                <i class="la la-angle-left"></i>
              </a>
            </li>
            {% endif %} {% for page_num in all_data.paginator.page_range %}
            <li class="page-item{% if page_num == all_data.number %} active{% endif %}">
              <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endfor %} {% if all_data.has_next %}
            <li class="page-item page-indicator">
              <a class="page-link" href="?page={{ all_data.paginator.num_pages }}">
                <i class="la la-angle-right"></i>
              </a>
            </li>
            {% endif %}
          </ul>
    </div>
</div>

{% endblock %}

{% block additional_js %}
<script>
    (function ($) {
        var table = $('#example5').DataTable({
            searching: false,
            paging: true,
            select: false,
            //info: false,         
            lengthChange: false

        });
        $('#example tbody').on('click', 'tr', function () {
            var data = table.row(this).data();

        });
    })(jQuery);
</script>
{% endblock %}