

{% extends 'aurora/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
<style>
    /* Initially hide the chart container */
    #userStatusChartContainer {
        position: absolute;
        z-index: 1000;
    }

    /* Style the chart container */
    .chart-container {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>
{% endblock %}

{% block content %}

{% include "aurora/pages/data/svc-user-status-tab.html" %}

<div class="col-xl-12">
    <div class="d-sm-flex  d-block align-items-center mb-4">
        <div class="me-auto">
            <h4 class="fs-20 text-black" style="margin-top: 10px;">이용자 현황(월별)</h4>
             <span class="fs-12">Arbeon 사용자의 월별 현황</span>
        </div>
        
          <a href="/data/download-summary-as-csv-user-month" class="btn btn-primary">월별 이용자 현황 다운로드</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive table-hover fs-14">
            <table class="table display mb-4 dataTablesCard " id="example5">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2" text-align="center">전체 회원</th>
                        <th colspan="2">신규 회원</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <th>회원수</th>
                        <th>MAU</th> <!---->
                        <th>회원수</th>
                        <th>MAU</th>
                        <th>정지 회원</th>
                        <th>탈퇴 회원</th>
                        <th>복귀 회원</th>
                        <th>휴면 회원</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in all_data %}
                    <tr>
                        <td class="table-cell-trigger"><span class="text-black font-w500">{{ data.summary_dt }}</span></td>
                        <td><span class="text-black font-w500">{{ data.total_user }}</span></td>
                        <td><span class="text-black font-w500">{{ data.dau }}</span></td>
                        <td><span class="text-black font-w500">{{ data.new_user }}</span></td>
                        <td><span class="text-black font-w500">{{ data.new_dau }}</span></td>
                        <td><span class="text-black font-w500">{{ data.suspended_user }}</span></td>
                        <td><span class="text-black font-w500">{{ data.deleted_user }}</span></td>
                        <td><span class="text-black font-w500">{{ data.return_user }}</span></td>
                        <td><span class="text-black font-w500">{{ data.inactive_user }}</span></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {% if all_data.has_previous %}
            <li class="page-item page-indicator">
              <a class="page-link" href="?page={{ all_data.previous_page_number }}">
                <i class="la la-angle-left"></i>
              </a>
            </li>
            {% endif %} {% for page_num in all_data.paginator.page_range %}
            <li class="page-item{% if page_num == all_data.number %} active{% endif %}">
              <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endfor %} {% if all_data.has_next %}
            <li class="page-item page-indicator">
              <a class="page-link" href="?page={{ all_data.paginator.num_pages }}">
                <i class="la la-angle-right"></i>
              </a>
            </li>
            {% endif %}
          </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="userStatusChartContainer" class="chart-container">
            <canvas id="userStatusChart" width="600" height="400"></canvas>
        </div>
    </div>
</div>

{% endblock %}

{% block additional_js %}
<link rel="stylesheet" href="{% static "drf_api_logger/css/Chart.min.css" %}" />
<script src="{% static "drf_api_logger/js/Chart.bundle.min.js" %}"></script>
<script>
    (function ($) {
        var data = [
            {% for data in all_data %}
                { date: "{{ data.summary_dt }}", new_dau: {{ data.new_dau }}, dau: {{ data.dau }} },
            {% endfor %}
        ];

        var ctx = document.getElementById('userStatusChart').getContext('2d');

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.map(item => item.date),
                datasets: [
                    {
                        label: 'DAU',
                        data: data.map(item => item.dau),
                        borderColor: 'rgba(75, 192, 192, 1)',
                        fill: false
                    },
                    {
                        label: 'New_DAU',
                        data: data.map(item => item.new_dau),
                        borderColor: 'rgba(255, 99, 132, 1)',
                        fill: false
                    }
                ]
            },
            options: {
					legend: false, 
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true, 
								max: 100, 
								min: 0, 
								stepSize: 20, 
								padding: 10
							}
						}],
						xAxes: [{ 
							ticks: {
								padding: 5
							}
						}]
					}
				}
        });
        var tableCells = document.querySelectorAll('.table-cell-trigger');
        var chartContainer = document.getElementById('userStatusChartContainer');

        tableCells.forEach(function (cell) {
            cell.addEventListener('mouseover', function () {
                chartContainer.style.display = 'block';

                // Get the date from the cell
                const hoveredDate = cell.innerText;

                // Calculate the date range
                const startDate = new Date(hoveredDate);
                const endDate = new Date(hoveredDate);
                startDate.setMonth(startDate.getMonth() - 5);
                endDate.setMonth(endDate.getMonth() + 5);

                // Filter data based on the date range
                const filteredData = data.filter(item => {
                    const itemDate = new Date(item.date);
                    return itemDate >= startDate && itemDate <= endDate;
                });

                // Update chart data
                chart.data.labels = filteredData.map(item => item.date);
                chart.data.datasets[0].data = filteredData.map(item => item.dau);
                chart.data.datasets[1].data = filteredData.map(item => item.new_dau);
                chart.update();
            });

            cell.addEventListener('mouseout', function () {
                chartContainer.style.display = 'none';
            });

            cell.addEventListener('mousemove', function (event) {
                chartContainer.style.left = (event.pageX + 10) + 'px';
                chartContainer.style.top = (event.pageY - 400) + 'px';
            });
        });

    })(jQuery);
</script>
{% endblock %}