{% load static %}

<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">

        {% if perms.dashboard.view_dashboard %}
            <li>
                <a href="{% url 'aurora:index' %}" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
        {% endif %}

        {% if perms.data.view_data %}
            <li>
                <a class="has-arrow ai-icon" href="{% url 'data:svc-user-status-daily' %}" aria-expanded="false">
                    <i class="flaticon-381-database"></i><span class="nav-text">Data (지표)</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'data:svc-user-status-daily' %}">이용자 현황</a></li>
                    <li><a href="{% url 'data:scan-status-daily' %}">스캔 현황</a></li>
                </ul>
            </li>
        {% endif %}

        {% if perms.operation.view_operation %}
            <li>
                <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                    <i class="flaticon-381-television"></i><span class="nav-text">Operation (Admin)</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'operation:svc-user-list' %}">이용자 관리</a></li>
                    <li><a class="has-arrow" href="{% url 'operation:object-list' %}">사물 관리</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'operation:object-list-dynamic' object_type='mg_id' %}">mg_id</a></li>
                            <li><a href="{% url 'operation:object-list-dynamic' object_type='scan_id' %}">scan_id</a></li>
                            <li><a href="{% url 'operation:object-list-dynamic' object_type='user_id' %}">user_id</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'operation:content-list' %}">콘텐츠 관리</a></li>
                    <li><a href="{% url 'operation:report-list' %}">신고·차단 관리</a></li>
                </ul>
            </li>
        {% endif %}

            {% if perms.users.view_newuser or perms.auth.view_group or perms.auth.view_permission %}
                <li>
                    <a class="has-arrow ai-icon" href="javascript:void(0)" aria-expanded="false">
                        <i class="flaticon-381-user-7"></i><span class="nav-text">관리자</span>
                </a>
                    <ul aria-expanded="false">
                        {% if perms.users.view_newuser or perms.users.change_newuser or perms.users.add_newuser or perms.users.delete_newuser %}
                            <li>
                                <a  {% if '/users/' in request.path %}class="mm-active"{% endif %} href="{% url 'aurora:users' %}">Users</a>
                            </li>
                        {% endif %}

                        {% if perms.auth.view_group or perms.auth.change_group or perms.auth.add_group or perms.auth.delete_group %}
                            <li>
                                <a {% if '/groups/' in request.path %} class="mm-active"{% endif %} href="{% url 'aurora:groups' %}">Groups</a>
                            </li>
                        {% endif %}

                        {% if perms.auth.view_permission or perms.auth.change_permission or perms.auth.add_permission or  perms.auth.delete_permission%}
                            <li>
                                <a {% if '/permissions/' in request.path %}class="mm-active"{% endif %} href="{% url 'aurora:permissions' %}">Permissions</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        </ul>
        
        <div class="copyright">
            <p><strong>aurora Arbeon Admin Dashboard</strong> © 2023 All Rights Reserved</p>
            <p>Made with <span class="heart"></span> by Arbeon</p>
        </div>
    </div>
</div>